@charset "utf-8";
/*CSS Document*/

body{
  width: 100%;
  height: auto;
  margin: auto;
  font-family:"游明朝",serif;
}

#wrapper{
  width: 100%;
	height: auto;
  margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: 0px;
	padding: auto;
	overflow: hidden;

}
#bg1{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  background: url(img/bg1.jpg) center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% 100%;
}
#bg1:before{
  z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background:rgba(0,0,0,0.5);
}

#logo{
  width: 100%;
  height: 100%;
  margin-top: 25%;
  margin-bottom: 20%;
  position: absolute;
  overflow: hidden;
}
#logo img{
    width: 60%;
    height: auto;
    background: rgba(255,255,255,0.7);
    padding-left: 0%;
    padding-right: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#bg2{
  width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: auto;
	padding-bottom: 0px;
	clear: both;
	position: relative;
  background: url(img/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-top: 65%;
}
#bg2-2{
  background: rgba(255,255,255,0.7);
}
.contents{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
.midashi{
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;

}
.midashi img{
  width: 100%;
}
.naiyou{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.naiyou p{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
  font-size: 18px;
}
.gazou{
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: auto;
  border-collapse: separate;
  border-spacing: 20px;
}
.gazou img{
  width: 100%;
  height: auto;
}
.gazou p{
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#bg3{
  width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: auto;
	padding-bottom: 0px;
	clear: both;
	position: relative;
  background: url(img/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
#bg3-3{
    background: rgba(0,0,0,0.7);
}
.midashi2{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;

}
.midashi2 img{
  width: 50%;
}
.naiyou2{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.naiyou2 p{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  color: #ffffff;

}

#bg4{
  width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: auto;
	padding-bottom: 0px;
	clear: both;
	position: relative;
  background: url(img/bg4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
#bg4-4{
    background: rgba(255,255,255,0.5);
}
.color{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.color img{
  width: 85%;
}
table.line-up{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
table.line-up img{
  width: 100%;
  margin: 0 auto;
}
table.mini{
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-collapse: separate;
  border-spacing: 30px;
}
table.mini img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.midashi3{
  width: 90%;
  height: 100%;
  margin: 0 auto;

}
.midashi3 img{
  width: 20%;
  height: auto;
}
.thumb{
	width: 80%;
	height:auto;
	margin: 0px auto;
	display: block;
}

/*==========メールフォーム===========*/

#bg5{
  width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: auto;
	clear: both;
	position: relative;
  background: url(img/bg5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
#bg5-5{
    background: rgba(0,0,0,0.5);
}

.midashi4{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5%;
}
.midashi4 img{
  width: 35%;
  height: 100%;
  margin: 0 auto;
}
#form {
	width: 90%;
   margin: 0 auto;
   padding: auto;
}
table.toiawase{
	width: 100%;
	border-spacing : 20px;
	float: left;
}
input[type=text]{
	height:25px;
}
table.toiawase th{
	width: 25%;
	vertical-align: top;
	}
.toiawase span{
	display: block;
	color: #ffffff;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
  text-align: left;
  margin-left: 30%;
}
table.toiawase td{
	width: 95%;
	margin: 0px auto;
}
table.toiawase input{
	width:95%;
	border: solid 1px #ffffff;
  background-color: #ffffff;
	font-size: 100%;
}
table.toiawase textarea{
	width: 95%;
	font-size: 100%;
  background-color: #ffffff;
}
.button{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}
.button input{
	font-size: 10px;
	color: #000000;
	border: solid 2px #ffffff;
	background-color: #ffffff;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;

}
/*==========メールフォーム===========*/
#anchor_link{
	text-align: right;
	position: fixed;
	right:3%;
	z-index: 1;
}

#anchor_link img{
	width:80%;
}

#footer{
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1%;
}
#footer p{
  color: #ffffff;
  font-size: 13px;
}
/*============フェードイン============*/
/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

/*=========スマホ===========*/


@media screen and (max-width: 767px) {

  #bg1{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    background: url(img/bg1.jpg) no-repeat center center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
  }
  #bg1:before{
    z-index: 0;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    background:rgba(0,0,0,0.5);
  }

  #logo{
    width: 100%;
    height: 100%;
    margin-top: 25%;
    margin-bottom: 20%;
    position: absolute;
    overflow: hidden;
  }
  #logo img{
      width: 60%;
      height: auto;
      background: rgba(255,255,255,0.7);
      padding-left: 0%;
      padding-right: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
  }
  #bg2{
    width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	padding: auto;
  	padding-bottom: 0px;
  	clear: both;
  	position: relative;
    background: url(img/bg2.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% 100%;
      margin-top: 65%;
  }
  #bg2-2{
    background: rgba(255,255,255,0.7);
  }
  .contents{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .midashi{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;

  }
  .midashi img{
    width: 100%;
  }
  .naiyou{
    width: 90%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .naiyou p{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
    font-size: 12px;
  }
  .gazou{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: auto;
    border-collapse: separate;
    border-spacing: 5px;
  }
  .gazou img{
    width: 100%;
    height: auto;
  }
  .gazou p{
    width: 100%;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
  }
  #bg3{
    width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	padding: auto;
  	padding-bottom: 0px;
  	clear: both;
  	position: relative;
    background: url(img/bg3.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% 100%;
  }
  #bg3-3{
      background: rgba(0,0,0,0.7);
  }
  .midashi2{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;

  }
  .midashi2 img{
    width: 100%;
  }
  .naiyou2{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .naiyou2 p{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: #ffffff;

  }

  #bg4{
    width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	padding: auto;
  	padding-bottom: 0px;
  	clear: both;
  	position: relative;
    background: url(img/bg4.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% 100%;
  }
  #bg4-4{
      background: rgba(255,255,255,0.5);
  }
  .color{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .color img{
    width: 100%;
  }
  table.line-up{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  table.line-up img{
    width: 100%;
    margin: 0 auto;
  }
  table.mini{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-collapse: separate;
    border-spacing: 30px;
  }
  table.mini img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .midashi3{
    width: 90%;
    height: 100%;
    margin: 0 auto;

  }
  .midashi3 img{
    width: 30%;
    height: auto;
  }
  .thumb{
  	width: 80%;
  	height:auto;
  	margin: 0px auto;
  	display: block;
  }

  /*==========メールフォーム===========*/

  #bg5{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: auto;
    clear: both;
  	position: relative;
    background-color: #000000;
    margin-top: -5%;
  }
  .midashi4{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .midashi4 img{
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  #form {
  	width: 95%;
     margin: 0 auto;
     padding: auto;
  }
  table.toiawase{
  	width: 100%;
  	border-spacing : 10px;
  	float: left;
  }
  input[type=text]{
  	height:20px;
  }
  table.toiawase th{
  	width: 30%;
  	vertical-align: top;
  	}
  .toiawase span{
  	display: block;
  	color: #ffffff;
  	font-size:10px;
  	padding-top: 5px;
  	padding-bottom: 5px;
    text-align: left;
    margin-left: 0%;
  }
  table.toiawase td{
  	width: 95%;
  	margin: 0px auto;
  }
  table.toiawase input{
  	width:95%;
  	border: solid 1px #A0A0A0;
    background-color: #A0A0A0;
  	font-size: 100%;
  }
  table.toiawase textarea{
  	width: 95%;
  	font-size: 100%;
    background-color: #A0A0A0;
  }
  .button{
  	width: 100%;
  	text-align: center;
  	padding-top: 30px;
  	padding-bottom: 100px;
  }
  .button input{
  	font-size: 10px;
  	color: #000000;
  	border: solid 2px #000000;
  	background-color: #A0A0A0;
  	padding-left: 40px;
  	padding-right: 40px;
  	padding-top: 5px;
  	padding-bottom: 5px;

  }
  /*==========メールフォーム===========*/
  #anchor_link{
  	text-align: right;
  	position: fixed;
  	right:3%;
  	z-index: 1;
  }

  #anchor_link img{
  	width:50%;
  }

  #footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  #footer p{
    color: #ffffff;
    font-size: 10px;
  }
  /*============フェードイン============*/
  /* 画面外にいる状態 */
  .fadein {
      opacity : 0.1;
      transform : translate(0, 10px);
      transition : all 800ms;
      }

  /* 画面内に入った状態 */
  .fadein.scrollin {
      opacity : 1;
      transform : translate(0, 0);
      }

}
